@import './variables.scss';
.item_card{
    flex-basis: 40%;
    overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5%;
  @media (max-width:620px) {
    flex-basis: 80%;;
  }
  a{
      text-decoration: none;
  }
  .image_container{
      overflow: hidden;
    img{transition: 0.8s;
        max-width: 100%;
        height: auto;
        &:hover{
            // opacity: .8;
            filter: saturate(1.5);
            transform: scale(1.2);
            overflow: hidden;
            z-index: -1;
            cursor: pointer;
        }
    }
    }
    p.item_text{
        height: 100%;
        padding-top: 10px;
        background-color:$base-red;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        text-decoration: none;
        
    }
}